{% extends "base.html" %}
{% load thumbnail %}
{% load url from future %}
{% load widget_tweaks %}

{% block content %}
<div id="blog_wrapper" class="blog_post">
<div class="container">


    <div class="row pull-left">
        <div class="span8 pull-left">
            <h1 class="header">{{object.title}}</h1>
            {% if object.picture %}
            <img src="{% thumbnail object.picture 360x270 crop %}" alt="{{object.title}}" class="post_pic pull-left" style='margin-right:25px;margin-bottom:25px;'>
            {% endif %}
            <p>
                <strong>{{object.title}}</strong>
                <br />
                {{object.address|linebreaks}}
                {% if object.telephone %}
                tel: {{object.telephone}}<br />
                {% endif %}
                {% if object.fax %}
                fax: {{object.fax}}<br /><br />
                {% endif %}
                {% if object.person_in_charge %}
                <strong>Person in charge</strong><br />
                {{object.person_in_charge}}
                {% if object.person_position %}
                    ({{object.person_position}})
                {% endif %}

                {% endif %}
            </p>
        </div>

        <div class="span3 pull-right">
            <br /> <br /> <br /> <br />
            <h4 class='header'>Contact the company</h4>
            <hr />
            <form method='post'>
                {% if form.name.errors %}{{form.name.errors.0}} {% endif %}
                {{form.name|attr:"placeholder='Enter your name'"|add_class:"required"}}
                {% if form.email.errors %}<br />{{form.email.errors.0}} {% endif %}
                {{form.email|attr:"placeholder='Enter your email address'"|add_class:"required"}}
                {% if form.phone.errors %}<br />{{form.phone.errors.0}} {% endif %}
                {{form.phone|attr:"placeholder='Enter your phone'"|add_class:"required"}}
                {% if form.country.errors %}<br />{{form.country.errors.0}} {% endif %}
                {{form.country|attr:"placeholder='Enter your country'"|add_class:"required"}}
                {% if form.message.errors %}<br />{{form.message.errors.0}} {% endif %}
                {{form.message|attr:"placeholder='Type your enquiry here...'"|add_class:"required"}}

                {% if form.captcha.errors %}
                <p class='errorfield'>You have entered an invalid captcha</p>
                {% endif %}

                {{form.captcha}}

                {% csrf_token %}
                <input type='submit' class='btn btn-primary' value='Submit' />
            </form>
        </div>

        <div class="span8 pull-left">

            <ul class="nav nav-tabs">
                <li class="active"><a href='#description' data-toggle='tab'>About the company</a></li>
                {% if object.latitude and object.longitude %}
                <li><a href='#map_tab' data-toggle='tab' id='map_tab_link'>Map</a></li>
                {% endif %}
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id='description'>
                    <p>
                    {{object.description}}
                    </p>
                    {% if object.description_wanted %}
                    <p>
                    {{object.description_wanted}}
                    </p>
                    {% endif %}

                    {% if object.products.all.exists %}
                    <h4 class='header'>Products</h4>
                    <hr />
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in object.products.all %}
                            <tr>
                                <td>
                                    <a style='color:#000' href='{% url 'companies:product_detail' object.pk object.slug product.pk product.slug %}'>
                                    {{forloop.counter0|add:1}}
                                    </a>
                                </td>
                                <td>
                                    <a style='color:#000' href='{% url 'companies:product_detail' object.pk object.slug product.pk product.slug %}'>
                                        {{product.title}}
                                    </a>
                                </td>
                                <td>
                                    <a style='color:#000' href='{% url 'companies:product_detail' object.pk object.slug product.pk product.slug %}'>
                                    {{product.price}}
                                    </a>
                                </td>
                                <td>
                                    <a style='color:#000' href='{% url 'companies:product_detail' object.pk object.slug product.pk product.slug %}'>
                                    {{product.price_remarks|default:''}}
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                    {% endif %}
                </div>
                {% if object.latitude and object.longitude %}
                <div class="tab-pane" id='map_tab'>
                    <div id="map" style='width:100%;height:400px;'></div>
                </div>
                {% endif %}

            </div>
        </div>



    </div>


</div>
</div>

{% endblock %}

{% block js %}
<script>
    $(function(){
        $("#map_tab_link").click(function(){
            {% if object.latitude and object.longitude %}
            var myOptions = {
                center: new google.maps.LatLng({{object.latitude}}, {{object.longitude}}),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                disableDefaultUI: true
            };

            var map = new google.maps.Map(document.getElementById("map"), myOptions);
            var marker = new google.maps.Marker({
                position: map.getCenter(),
                map: map
            });
            setInterval(function(){
                google.maps.event.trigger(map,'resize');
            }, 1000);
            {% endif %}
        });
    });

</script>

{% endblock %}
