{% extends "base.html" %}
{% load thumbnail %}
{% load url from future %}
{% load widget_tweaks %}

{% block title %}
{{object.title}}
{% endblock %}

{% if object.meta_description %}
    {% block meta-description %}
        {{object.meta_description }}
    {% endblock %}
{% endif %}

{% if object.meta_keywords %}
    {% block meta-keywords %}
        {{object.meta_keywords }}
    {% endblock %}
{% endif %}

{% block content %}
<div id="blog_wrapper" class="blog_post">
    <div class="container">


        <div class="row">
            <div class="span8 pull-left">
                <h1 class="header">{{object.title}}
                    {{object.price}}
                    {% if object.price_remarks %}
                        ({{object.price_remarks}})
                    {% endif %}
                </h1>
                {% if object.picture %}
                <img src="{% thumbnail object.picture 360x270 crop %}" alt="{{object.title}}" class="post_pic" style='float:left;margin-right:25px;margin-bottom:25px;'>
                {% endif %}
                <p>
                    {{object.description|linebreaks}}
                </p>
            </div>

            <div class="span3 pull-right">
                <br /> <br /> <br /> <br />
                <h4 class='header'>Contact the company</h4>
                <hr />
                <form method='post'>
                    {% if form.name.errors %}{{form.name.errors.0}} {% endif %}
                    {{form.name|attr:"placeholder='Enter your name'"|add_class:"required"}}
                    {% if form.email.errors %}<br />{{form.email.errors.0}} {% endif %}
                    {{form.email|attr:"placeholder='Enter your email address'"|add_class:"required"}}
                    {% if form.phone.errors %}<br />{{form.phone.errors.0}} {% endif %}
                    {{form.phone|attr:"placeholder='Enter your phone'"|add_class:"required"}}
                    {% if form.country.errors %}<br />{{form.country.errors.0}} {% endif %}
                    {{form.country|attr:"placeholder='Enter your country'"|add_class:"required"}}
                    {% if form.message.errors %}<br />{{form.message.errors.0}} {% endif %}
                    {{form.message|attr:"placeholder='Type your enquiry here...'"|add_class:"required"}}

                    {% if form.captcha.errors %}
                    <p class='errorfield'>You have entered an invalid captcha</p>
                    {% endif %}

                    {{form.captcha}}

                    {% csrf_token %}
                    <input type='submit' class='btn btn-primary' value='Submit' />
                </form>
            </div>

            <div class="span8 pull-left">

                <ul class="nav nav-tabs">
                    <li class="active"><a href='#description' data-toggle='tab'>About the company</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id='description'>
                        <p>
                        {{object.description}}
                        </p>
                        <p>
                        <a href='{% url 'companies:company_detail' object.company.pk object.company.slug %}'>
                            View company detail
                        </a>
                        </p>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

{% endblock %}
