{% extends "base.html" %}
{% load url from future %}
{% block content %}

<!-- features -->
<div id="features" class="features_page">
    <div class="container">
        <div class="features1">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>Featured companies</span>
                <hr class="right visible-desktop">
            </h2>

            <!-- feature list -->
            <div class="row">
                {% for company in featured_companies %}
                <div class="span4 feature">
                    <img src="" alt="feature1" class="thumb" />
                    <h4>
                        {{company.title}}
                    </h4>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

<div id="portfolio" class="portfolio_page">
    <div class="container">
        <div class='span9' style='margin-left:0px'>
            <h2 class="section_header left" style='margin-bottom:20px;'>
                <span style="width:70%">Browse companies by categories</span>
                <hr class="right visible-desktop" style="width:42%;margin-right:39px;">
            </h2>
            {% for columns in categories_column %}
                <div class='span3' id='faq' style='margin-left:0px;padding-left:0px;'>
                    {% for category in columns %}
                    <div class='faq' style='padding-left:0px;margin-bottom:10px;'>
                        <a href='{% url 'companies:company_list' 'all' category.slug 'all-subcategories' %}' class='question'>{{category.title}} </a>
                        &nbsp;
                        <div class='number' style='position:static;display:inline-block;'>{{category.companies.all.count}}</div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class='span3' style='margin-left:0px;'>
            <h2 class="section_header left" style='margin-bottom:20px;'>
                <span style="width:70%">Location</span>
                <hr class="right visible-desktop" style="width:38%">
            </h2>
            <div class='span3' id='faq' style='margin-left:0px;padding-left:0px;'>
                {% for state in states %}
                <div class='faq' style='padding-left:0px;margin-bottom:10px;'>
                    <a href='{% url 'companies:company_list' state.slug 'all-categories' 'all-subcategories' %}' class='question'>{{state.title}} </a>
                    <div class='number' style='position:static;display:inline-block;'>{{state.companies.all.count}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
