{% load url from future %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Myanmar's #1 Directory of Manufacturers, Exporters, Importers and other Businesses{% endblock %} - {{SITE_NAME}}</title>
    <meta name="keywords" content="{% block meta-keywords %}myanmar, burma, yangon, rangoon, myanmar business, myanmar businesses, myanmar manufacturers, myanmar traders, myanmar exporters, myanmar importers, myanmar companies, burmese companies, burmese manufacturers, burma manufacturers, burma traders, burma exporters{%endblock %}">
    <meta name="description" content="{% block meta-description %}MyanmarBusinessLink.com is Myanmar's #1 directory of manufacturers, exporters, importers and other businesses grouped by industry category and location.{%endblock %}">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/theme.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/external-pages.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/blog.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/animate.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    {% include "_ga.html" %}
</head>
<body>
    <a href="#" class="scrolltop">
        <span>up</span>
    </a>
    <!-- begins navbar -->
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
    		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
          	</a>
          	<a class="brand scroller" href="/">
                <img src="{{STATIC_URL}}img/logo.png" alt="logo" />
            </a>
		  	<div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="{% url "companies:company_list" "all" "all-categories" "all-subcategories" %}">Myanmar companies</a></li>
                    <li><a href="{% url "companies:product_list" "all" "all-categories" "all-subcategories" %}">Myanmar products</a></li>
                    <li><a href="{% url 'articles:list' %}">Myanmar business news</a></li>
                    <li><a href="/list-your-business/">List your business</a></li>
                </ul>
	        </div>
        </div>
      </div>
    </div>
    <!-- ends navbar -->
    {% if messages %}
    {% for message in messages %}
    <div class='container'>
    <div class='row'>
        <div class='span12'>
            <br />
            <br />
            <div class="alert alert-{% if message.tags == 'success' %}success{% else %}info{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>{{ message }}</p>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
    {% endif %}
    {% block content %}

    {% endblock %}

    <!-- starts footer -->
    <div id="footer" style='min-height:50px;'>
        <div class="container">
            <div class="row copyright">
                <div class="span8 pull-left">
                    <a href='/'>Home</a>&nbsp;&nbsp;&nbsp;
                    <a href='/about/'>About us</a>&nbsp;&nbsp;&nbsp;
                    <a href="{% url "companies:company_list" "all" "all-categories" "all-subcategories" %}">Myanmar companies</a>&nbsp;&nbsp;&nbsp;

                    <a href="{% url "companies:product_list" "all" "all-categories" "all-subcategories" %}">Myanmar products</a>&nbsp;&nbsp;&nbsp;

                    <a href="{% url 'articles:list' %}">Myanmar business news</a>&nbsp;&nbsp;&nbsp;

                </div>
                <div class="span3 pull-right copy">
                    &copy; 2013 - MyanmarBusinessLink
                </div>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/theme.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    {% block js %}

    {% endblock %}
</body>
</html>
